@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Cripto Gain</title>
</head>

<style>
    body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    #navigation {
        font-weight: bolder;
    }

        #navigation a:hover {
            font-size: 1.2em;
            text-decoration: none;
            -webkit-text-stroke: 2px #20A95D;
        }

    #quemsomos {
        padding-top: 15%;
    }

    #services {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #login {
        margin-top: 30px;
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #logo {
        margin: auto;
    }
</style>

<body>

    <div class="container" id="login" style="list-style: none;">
        <div class="row d-flex flex-direction-column justify-content-center">
            <div class="col-xl-8 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body rounded justify-content-center">

                        <h3 class="card-body text-center" style="color:#9e9e9e">LOGIN</h3>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">E-mail</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Senha</label>
                            </div>
                        </div>

                        <p class="pl-2">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Lembrar-me</span>
                            </label>
                        </p>

                        <div class="text-center">
                            <div id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <li>
                                        <a style="color:white" href="#">
                                            <a class="waves-effect waves-light btn-large">Logar</a>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>

                        <div class="pl-2">
                            <div class="form-floating mb-3">
                                <li><a href="registro.html" style="color:#9e9e9e">Registrar-me</a></li>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>